@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');


/* General Page Settings */
:root{
  --dark-gray: #2D3748;
  --active-green: "#155724";
}
* {
  margin: auto;
  box-sizing: border-box;
  font:"Manrope";
  color:var(--dark-gray);
}

body {
  margin: 1rem;
}

.block{
  max-width: 900px;
  width: 100%; 
  padding: 1rem;
  margin: 0.5rem;
}

.component-container{
  padding: 1rem;
  border: 4px solid #f7f7f9;
  border-radius: 0.3rem;
  margin: 1rem 0;
}

.secondary-heading{
  padding: 1.5rem 0;
}

.flex{
  display: flex;
}
.flex-row-wrap{
  flex-flow: row wrap;
  justify-content:flex-start;
}
.flex-col-wrap{
  flex-flow: column wrap;
  justify-content:flex-start;
}

/* ----------------------------------------------------------------Alerts-----------------------------------------------------------------  */

.alert-block h1{
  font-size: 2rem;
}

.alert{
  padding: 1rem;
  margin: 0.5rem;
  /* background-color:antiquewhite; */
  border-radius: 0.3rem;
}

.alert.alert-info{
  border-color: #c1f3fc;
  background-color: #dcfaff;
  color: #0c5460 !important;
}

.alert.alert-info p{
  padding: 1rem 0rem;
  color: #0c5460 !important
}

.alert.alert-info h3{
  color: #0c5460 !important;
}

.alert.alert-primary{
  border-color: #b8daff;
  background-color: #cce5ff;
  color: #004085;
}

.alert.alert-success{
  border-color: #c3e8cb;
  background-color: #d4edda;
  color: #155724;
}

.alert.alert-danger{
  border-color: #f5c6cb;
  background-color: #f8d7da;
  color: #721c24;
}

.alert.alert-warning{
  border-color: #ffeeba;
  background-color: #fff3cd;
  color: #856404;
}

.alert.alert-secondary{
  border-color: #d6d8db;
  background-color: #e2e3e5;
  color: #383d41;
}

.btn-alert-close{
  float: right;
  border:0;
  background: transparent; 
  color: #c1f3fc;
}
.btn-show-alert{
  margin: 0.5rem;
  border:1px solid #383d41;
  padding: 0.3rem;
  background: transparent; 
  color: #383d41;
}

/* ----------------------------------------------------------------Avatars----------------------------------------------------------------- */
.avatar{
  margin: 1rem; 
}

.sm-avatar{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.md-avatar{
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.lg-avatar{
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

.xl-avatar{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.avatar-active{
  position: relative;
}

.avatar-badge{
  display: inline-flex;
  position: relative;
  bottom: 15px;
  left: -30px;
  /* background: #155724; */
  min-width:1rem;
  min-height:1rem;
  padding:0.1rem;
  font-size: 70%;
  /* border:2px solid #155724; */
  border-radius: 50%;
}

.avatar-success{
  background: #28a745;
  border:2px solid #28a745;
}
.avatar-busy{
  background: #ffc107;
  border:2px solid #ffc107;
}
.avatar-danger{
  background: #dc3545;
  border:2px solid #dc3545;
}
.avatar-active{
  background: #007bff;
  border:2px solid #007bff;
}

/* ----------------------------------------------------------------Badges------------------------------------------------------------------- */

.badge{
  text-align:center;
  border-radius: 1rem;
  padding: 0.1rem 0.3rem;
  margin: 1rem 0.7rem 1rem 0;
}

.badge.badge-primary{
  border: 1px solid #b8daff;
  background-color: #cce5ff;
  color: #004085;
}
.badge.badge-secondary{
  border: 1px solid #d6d8db;
  background-color: #e2e3e5;
  color: #383d41;
}
.badge.badge-success{
  border: 1px solid #c3e8cb;
  background-color: #d4edda;
  color: #155724;
}
.badge.badge-warning{
  border: 1px solid #ffeeba;
  background-color: #fff3cd;
  color: #856404;
}
.badge.badge-error{
  border: 1px solid #f5c6cb;
  background-color: #f8d7da;
  color: #721c24;
}
.badge.badge-info{
  border: 1px solid #c1f3fc;
  background-color: #dcfaff;
  color: #0c5460 !important;
}

.badge.badge-primary-outline{
  border: 2px solid #b8daff;
  color: #004085;
}
.badge.badge-secondary-outline{
  border: 2px solid #d6d8db;
  color: #383d41;
}
.badge.badge-success-outline{
  border: 2px solid #c3e8cb;
  color: #155724;
}
.badge.badge-warning-outline{
  border: 2px solid #ffeeba;
  color: #856404;
}
.badge.badge-error-outline{
  border: 2px solid #f5c6cb;
  color: #721c24;
}
.badge.badge-info-outline{
  border: 2px solid #c1f3fc;
  color: #0c5460 !important;
}

.badge.badge-counter{
  text-align: center;
  padding: 0.5rem;
  border-radius:0.5rem;
  background-color: #007bff;
  color: white !important;
}
.badge.badge-counter .badge-count{
  display: inline-flex;
  padding: 0 0.5rem 0 0.4rem;
  text-align: center;
  min-width:1rem;
  min-height:1rem;
  margin: 0rem 0 0 0.5rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
  border: none;
}

/* -----------------------------------------------------------------Buttons---------------------------------------------------------------- */

.btn{
  padding: 0.7rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
}

.btn.btn-primary-outline{
  border: 2px solid #007bff;
}
.btn.btn-secondary-outline{
  border: 2px solid #383d41;
}
.btn.btn-success-outline{
  border: 2px solid #28a745;
}
.btn.btn-warning-outline{
  border: 2px solid #ffc107;
}
.btn.btn-error-outline{
  border: 2px solid #dc3545;
}
.btn.btn-info-outline{
  border: 2px solid #218a9c;
}

.btn.btn-primary-outline:hover{
  background: #007bff;
  color: #ffffff;
}
.btn.btn-secondary-outline:hover{
  background: #383d41;
  color: #ffffff;
}
.btn.btn-success-outline:hover{
  background: #28a745;
  color: #ffffff;
}
.btn.btn-warning-outline:hover{
  background: #ffc107;
  color: #ffffff;
}
.btn.btn-error-outline:hover{
  background: #dc3545;
  color: #ffffff;
}
.btn.btn-info-outline:hover{
  background: #218a9c;
  color: #ffffff;
}

.btn.btn-primary{
  color: #ffffff;
  background-color:#007bff;
  border: 2px solid #007bff;
}
.btn.btn-primary:hover{
  background-color:#0066d3;
}

.btn.btn-secondary{
  color: #ffffff;
  background-color: #383d41;
  border: 2px solid #383d41;
}
.btn.btn-secondary:hover{
  background-color: #2e3235;
}

.btn.btn-success{
  color: #ffffff;
  background-color:#28a745;
  border: 2px solid #28a745;
}
.btn.btn-success:hover{
  background-color:#24913d;
}

.btn.btn-warning{
  color: #ffffff;
  background-color:#ffc107;
  border: 2px solid #ffc107;
}
.btn.btn-warning:hover{
  background-color:#cc9a05;
}

.btn.btn-error{
  color: #ffffff;
  background-color:#dc3545;
  border: 2px solid #dc3545;
}
.btn.btn-error:hover{
  background-color:#bd1b2b;
}

.btn.btn-info{
  color: #ffffff;
  background-color:#218a9c;
  border: 2px solid #218a9c;
}
.btn.btn-info:hover{
  background-color:#176370;
}

.btn-disabled{
  cursor: not-allowed;
}
.btn-floating-action{
  border-radius: 100%;
  box-shadow: 0px 1px 5px #383d41;
}
.btn-floating-action:hover{
  box-shadow: 1px 2px 5px #383d41;
}


/* ------------------------------------------Cards--------------------------- */
.card{
  max-width: 350px;
  border: 1px solid #aaaaaa;
  padding: 1rem;
  border-radius: 0.2rem;
  margin: 0;
}

.card-title{
  font-weight: bold;
  padding: 0.5rem 0; 
  font-size: 1.5rem;
}
.card-subtitle{
  color:#636566;
  font-weight: bold;
  padding:0rem 0
}
.card p{
  padding: 0.4rem 0;
}
.card-link-block{
  padding: 0.4rem 0;
  margin: 1rem 0;
}
.card-link-block a{
  text-decoration: none;
  color: rgb(21, 69, 226);
  padding: 0.5rem;
  border: 1px solid;
  text-align: center;
  margin-right: 1rem;;
}
.card-regular{
  width: 350px;
}
.card-image{
  width: 300px;
  margin: auto;
}
.card-regular .card-image img{
  margin: auto;
  object-fit: fill;
  width: 300px;
  height: 300px;
}

.card-btn{
  text-align: center;
  width: 100%;
}
.btn-full{
  margin: 0;
  width: inherit;
}

.card-horizontal{
  padding: 1rem;
  border: 1px solid #aaaaaa;
  max-width: 600px;
  display: flex;
  margin: 0;
  border-radius: 0.2rem;
}
.card-image-h{
 margin: 0;
}
.card-content-h{
  padding: 0.5rem;
  margin: 0;
}
.card-content-h .card-title{
  font-size: 1.5rem;
}



/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
